<div>
  <input type="text" class="form-control" #nameInput (change)="setTodoName(nameInput.value)"/>
  <input type="text" class="form-control" #contentInput  (change)="setTodoContent(contentInput.value)"/>
<button (click)="addTodo(nameInput,contentInput)"
    class="btn btn-primary m-2" [disabled]="todo().name.trim() || todo().content.trim()">add</button>
</div>

<div>
  <div>
    <ul>
      <h3>waiting</h3>
      @for(todo of todos() ;track todo.id){
      <li>
        @if (todo.status === 'waiting') {
        {{ todo.name }} : {{ todo.content }}
        <i (click)="deleteTodo(todo)" class="fa fa-trash" aria-hidden="true"></i
        >}
      </li>
      }
    </ul>
    <ul>
      <h3>In Progress Todos</h3>

      @for(todo of todos() ;track todo.id){
      <li>
        @if (todo.status === 'in progress') {
        {{ todo.name }} : {{ todo.content }}
        <i (click)="deleteTodo(todo)" class="fa fa-trash" aria-hidden="true"></i
        >}
      </li>
      }
    </ul>
  </div>
  <div>
    <ul>
      <h3>Done Todos</h3>
      @for(todo of todos() ;track todo.id){
      <li>
        @if (todo.status === 'done') {
        {{ todo.name }} : {{ todo.content }}
        <i (click)="deleteTodo(todo)" class="fa fa-trash" aria-hidden="true"></i
        >}
      </li>
      }
    </ul>
  </div>
</div>
